<%=@match.video_url %>



<section class="row">
  <div class="span6">
    <div class="flex-video widescreen"><iframe src="https://www.youtube.com/v/2Y3myqlXSXM" frameborder="0" allowfullscreen=""></iframe></div>
  </div>
</section>


<!-- ("watch?v=", "v/"); -->
need to gsub watch?v with v/" so it works dynamicallyS"
